/* basic general setup */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
}

/* header */

body{
    background-color: #fbfbea;
}

.page-header{
    background-color: #222f4a;
    color: #fff;
    font-family: 'Pacifico', cursive;
    padding-left: 70px;
}

.page-header span{
    margin-left: 5px;
    color: #1dd1a4;
}

/* nav menu */
.nav-menu ul{
    padding: 10px 0 10px 120px;
    text-transform: uppercase;
    background-color: #fff;
}

.nav-menu a{
    color: #16be70;
    font-weight: 700;
}

.nav-menu a:hover{
    color: #222f3e;
    font-size: 18px;
}

.nav-menu li{
    padding: 20px;
}

.header-image{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7)),url(image/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
}

.header-image h2{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 35px;
}

.header-image p{
    margin:20px 170px;
    text-align: center;
}

/* jouneys ways */

.journey-ways{
    width: 90%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 40px;
}

.journey-ways h2{
    text-align: center;
    text-transform:uppercase;
    color: #222f3e;
    font-size: 35px;
    font-weight: 300;
}

.journey-ways h2 span{
    color:#1dd1a1;
    font-weight: 700;
}

#journey-explain{
    color: #222f3e;
    text-align: center;
    margin-top: 15px;
}

.ways-to-travel{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    text-align: center;
}

.travel-way{
    width:30%;
}

.travel-way:nth-child(2){
    margin-top: 30px;
}

.travel-way h3{
    margin-top: 15px;
    text-transform: uppercase;
    color: #222f3e;
}

.travel-way h3 span{
    color: #1dd1a4;
}

.travel-way p{
    margin-top: 10px;
    color: #222f3e;
}


/* City gallery */

.city-images{
    padding-top:40px ;
    background-color:#1dd1a1;
    color: #222f3e;
}

.images-of-cities{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.city-image{
    width: 29%;
    margin-bottom: 25px;
    background-color: #fbfbfb;
}

.city-image img{
    width: 100%;
}

.city-image h3{
    padding:15px;
}

.city-image p{
    padding: 0 15px 10px 15px;
}

footer{
    background-color: #222f3e;
    color: #fff;
    padding: 20px 70px;
}

/* media query still to be added */

